body {
  margin: auto;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
}

#navbarHeader {
  padding: 0px;
  margin: 0px;
}

.nav {
  justify-content: center;
  background-color: white;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

.nav-link {
  padding: .7em 7em;
  color: tomato;
}

#countdownDiv > h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 180px;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin-top: 250px;
  background-image: url(../img/bgname.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  word-spacing: 0.1em;
}

#timer {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  padding-top: 25px;
}

/*MEDIA QUERY*/
@media screen and (min-width: 1024px) {
  body {

  }
  #countdownDiv > h1 {
    font-size: 100px;
  }
}
